<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.houtrry.coordinatorlayoutsamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.Main2Activity">
        </activity>
        <activity android:name=".ui.activity.Main3Activity">
        </activity>
        <activity android:name=".ui.activity.Main4Activity">
        </activity>
        <activity android:name=".ui.activity.Main5Activity">
        </activity>
        <activity android:name=".ui.activity.Main6Activity">
        </activity>
        <activity android:name=".ui.activity.Main7Activity">
        </activity>
        <activity android:name=".ui.activity.Main8Activity">
        </activity>
        <activity android:name=".ui.activity.Main9Activity">
        </activity>
        <activity android:name=".ui.activity.Main10Activity">
        </activity>
        <activity android:name=".ui.activity.Main11Activity">
        </activity>
        <activity android:name=".ui.activity.Main12Activity">
        </activity>
        <activity android:name=".ui.activity.Main13Activity">
        </activity>
        <activity android:name=".ui.activity.Main14Activity">
        </activity>
        <activity android:name=".ui.activity.Main15Activity">
        </activity>
        <activity android:name=".ui.activity.Main16Activity">
        </activity>
        <activity android:name=".ui.activity.Main17Activity">
        </activity>
        <activity android:name=".ui.activity.Main18Activity">
        </activity>
    </application>

</manifest>